<html>
  <head>
   <title>
     Blog Site with REST conventions  
   </title>  
   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
   <link rel="stylesheet" href="/app.css">
  </head>  
  <body>
   
   <div class="ui inverted menu">
     <div class="ui container">
      <div href="#" class="header item">
        <i id="chevron" class="code icon"></i>
        Blog Site
      </div> 
      <a href="/" class="item">
        Home
      </a>  
      <a class="item" href="/blogs/new">
        New Post
      </a> 
     </div>
   </div>  